main {
	height: 100%;
	width: 100%;
}
#code {
	position: fixed;
	left: 0;
	top: 30px;
}
#output {
	position: fixed;
	overflow-y: scroll;
}
#output-screen {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	margin-top: 10px;
	background-color: var(--black);
	aspect-ratio: 11.111/10;

	filter: drop-shadow(0px 0px 30px var(--shadow));
}
#console {
	overflow-y: scroll;
	font-size: medium;
	text-align: left;
	padding: 10px;
	border: 1px var(--grey) solid;
	margin: 10px;
	margin-bottom: 40px;
	border-radius: 8px;
}
@media screen and (min-width: 801px) {
	#code {
		width: 60%;
		height: 100%;
	}
	#output {
		width: 40%;
		height: 100%;
		left: 60%;
		top: 30px;
	}
	#output-screen {
		width: 300px;
		border: black 40px solid;
		border-radius: 30px;
	}
	#output-box::before {
		content: "Vectocade DevKit";
		display: inline;
		position: absolute;
		z-index: 10;
		margin-top: 325px;
		margin-left: 30%;
		font-size: x-large;
		color: var(--grey);
	}
	#console {
		height: 25%;
	}
}
@media screen and (max-width: 981px) {
	#output-screen {
		width: 230px;
	}
	#output-box::before {
		margin-top: 265px;
	}
}
@media screen and (max-width: 800px) {
	#code {
		width: 100%;
		height: 50%;
	}
	#output {
		width: 100%;
		height: 50%;
		left: 0;
		top: 50%;
	}
	#output-screen {
		width: 300px;
		border: var(--grey) 1px solid;
	}
	#console {
		height: 50%;
	}
}
#code-editor {
	text-align: left;
	font-family: 'VT323', monospace;
	width: 100%;
	height: 80%;
	overflow: auto;
}
.cm-editor {
	font-size: large;
	font-family: 'VT323', monospace;
}
.cm-line::selection {
	background: #091f2b;
}
.cm-cursor { 
	border-left: 2px solid var(--accent);
}
.cm-editor.cm-focused { outline: none }
.cm-editor .cm-content { font-family: 'VT323', monospace }
.cm-activeLine { background-color: #091f2b !important; }
.cm-gutter, .cm-activeLineGutter { background-color: #091f2b !important;border-right: none !important; }

nav {
	overflow-x: scroll;
}