#icon {
  width: 40vh;
  filter: drop-shadow(0px 5px 50px var(--shadow));
  margin: 20px;
  z-index: 1;
}
header {
  min-height: 100vh;
  padding-top: 15vh;
}
.content {
  margin: 5px auto;
  max-width: 60ch;
}